// =====================================================================
// Flip Card
// =====================================================================

.scene {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  perspective: 600px;
}

.flipcard {
  position: relative;
  transition: transform 0.7s $easeInOutCubic;
  transform-style: preserve-3d;

  width: 250px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  color: $color-white;

  &.is-flipped {
    transform: rotateY(180deg);
  }
}

.flipcard-face {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-brand;
  border-radius: 15px;
  transform: rotateY(0deg);
}

.flipcard-face-front {
}

.flipcard-face-back {
  transform: rotateY(180deg);
}
